<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>This is the HEADER</header>
    {{>navigation}}
    {{{body}}}
    <footer>This is the FOOTER</footer>
</body>
</html>