<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Customs Helpers</h1>
    <li>{{calculation 10}}</li>
    <p>{{#strong}} 
        Practing Helper function
        {{/strong}}
    </p>
</body>
</html>